/*gestion des polices*/
    @font-face {
        font-family: 'icomoonregular';
        src: url('../../src/polices/icomoon-webfont.woff2') format('woff2'),
            url('../../src/polices/icomoon-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .icomoonregular{
        font-family: 'icomoonregular';        
    }

    #html_icone{
        color: #e34c26;
        background-color:#ebebeb;}

    #css_icone{
        color:#264de4;
        background-color:#ebebeb;}

    #js_icone{
        color:#F0DB4F;
        background-color:#323330;}

    #react_icone{
        color:#61DBFB};

    #vue_icone{
        color:#42b883;
    } 

    #bootstrap_icone{
        color:#563d7c;         
    } 

    #sass_icone{
        color:#CD6799;       
    } 


body {background-color: #8CACD3;}

.navbar{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0; 
    z-index:1000;
    background-color:#939597;    
}

#navbarBrand{
    &:hover{
        color:white}      
    }

#navbarDropdown{   
    &:hover{
        color:white}
        }

.dropdown-item:hover{
    background-color: #939597
    }

h1{
    margin-top:25px;
    }

a{
    color:#F5DF4D;
    &:link {
        text-decoration:none;
    }
}

.listTechno{
    font-size: 22px;
}

img {
    width:25%;
    height:auto}

.imgTP{
    width:15%;
    height:auto;}

.card{
    width:60vw;
        a{
            color:#8CACD3;
            }
        &:hover{
            color: #F0EEE9;
            background-color: #939597;
            a{
                color:#F5DF4D;                
            }
        }        
}
 
#listeDesUs{
    a{
        color:black;
        &:hover {
        color: #F0EEE9;
        }
    }
}